* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*   Шапка    */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 127px;
  background: url("../img/banner-bg.jpg") no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-color: rgb(0, 0, 0);
  margin-bottom: 58px;
}

.header-block {
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 0 15px 0 15px;
}

.header-text {
  margin-top: 98px;
  max-width: 700px;
  text-align: center;
  color: white;
  font-size: 45px;
  line-height: 1.65;
  font-weight: 700;
  font-family: "OpenSans";
  text-transform: uppercase;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.header-logo {
  width: 179px;
}

.menu-items {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.menu-item {
  margin-left: 35px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: 400;
  font-family: "OpenSans";
  text-align: center;
  text-transform: uppercase;
}

.menu-items > li:first-child .menu-item {
  margin-left: 0px;
}

.menu-item:hover {
  text-decoration: underline;
}

.menu-burger {
  display: none;
  border: none;
  position: relative;
  width: 25px;
  height: 20px;
  background-color: transparent;
  padding: 0;
}

.menu-strip {
  width: 100%;
  height: 20%;
  position: absolute;
  left: 0;
  top: 40%;
  border-radius: 5px;
  background-color: #fff;
}

.menu-burger::before,
.menu-burger::after {
  content: "";
  width: 100%;
  height: 20%;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}

.menu-burger::after {
  bottom: 0;
}

.menu-burger::before {
  top: 0;
}

/*   POPUP    */

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.popup-block {
  padding: 30px 30px 60px 30px;
  box-sizing: border-box;
  width: 390px;
  background-color: #ffffff;
  position: relative;
}

h2.popup-title {
  margin: 17px 0 22px 0;  
}

.popup-que {
  font-size: 13px;
  font-family: "OpenSans";
}

.popup::before {
  content: "";
  position: inherit;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
  width: 100%;
  height: 100%;
}

.popup-area {
  box-sizing: border-box;
  padding: 15px 15px 15px 22px;
  margin-top: 7px;
  display: block;
  outline: none;
  border: none;
  max-width: 330px;
  min-width: 330px;
  min-height: 130px;
  background-color: #f4f7f6;
  font-size: 13px;
  font-family: "OpenSans";
}

.popup-area:focus {
  border-bottom: 1px solid #b59f5b;
}

.popup-select {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: none;
  outline: none;

  border: none;
  padding: 15px 15px 15px 20px;
  margin: 10px 0 30px 0;
  color: #000000;
  font-size: 13px;
  font-weight: 400;
  font-family: "OpenSans";

  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center right 13px;
  background-color: #f4f7f6;
}

.popup-select:focus {
  border-bottom: 1px solid #b59f5b;
  margin-bottom: 29px;
}

.popup-radio {
  box-sizing: border-box;
  margin: 10px 0 25px 0;
}

.popup-radio-opt {
  display: none;
}

.popup-radio-text {
  font-size: 13px;
  margin-right: 25px;
  font-family: "OpenSans";
}

/*   .card-tags > li:last-child .card-tag   */

.popup-label:last-child .popup-radio-text {
  margin-right: 0px;
}


.popup-radio-text::before {
  content: "";
  width: 17px;
  height: 17px;
  display: inline-block;
  background: url("../svg/form-empty-circle.svg") no-repeat left bottom / 17px;
  padding-right: 5px;
}

.popup-radio-opt:checked + .popup-radio-text::before {
  background-image: url("../svg/form-circle.svg");
}

.pop-submit-button {

  border: none;
  padding: 15px;
  width: 100%;
  height: 48px;
  background-color: #b59f5b;
  margin-top: 25px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: 700;
}

.pop-submit-button:hover {
  background-color: #323232;
}

.close {
  width: 390px;
  display: flex;
  justify-content: end;
}

.popup-close {
  position: relative;
  z-index: inherit;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: none;
  margin-bottom: 8px;
  background-image: url("../svg/form-x.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-color: transparent;
}

/*   MAIN    */

.block {
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  margin: auto auto;
  margin-bottom: 60px;
  padding: 0 15px 0 15px;
}

.main {
  max-width: 777px;
}

.aside {
  width: 270px;
  box-sizing: border-box;
}

.titles,
.aside-titles {
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;

  text-decoration: none;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "OpenSans";
}

.aside-titles {
  margin-bottom: 24px;
}

.titles::after {
  content: "";
  display: block;
  width: 66px;
  height: 2px;
  background-color: #b59f5b;
  margin: 12px auto 0 auto;
  opacity: 0.4;
}

.main-title {
  font-size: 20px;
  margin-bottom: 28px;
}

.trends {
  margin-bottom: 60px;
}

.trends-card-list {
  display: flex;
  gap: 4px;
}

.trends-card {
  width: calc(25% - 4px);
  box-sizing: border-box;
  min-height: 320px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  z-index: 1;
  align-items: end;
  justify-content: center;
}

.trends-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.trends-desc {
  border: 3px solid rgba(181, 159, 91, 0.6);
  padding: 35px;
  margin: 0 23px 15px 25px;
}

.trends-caption {
  text-align: start;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  font-family: "OpenSans";
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.trend-1 {
  background-image: url("../img/trend1.jpg");
}

.trend-2 {
  background-image: url("../img/trend2.jpg");
}

.trend-3 {
  background-image: url("../img/trend3.jpg");
}

.trend-4 {
  background-image: url("../img/trend4.jpg");
}

.card {
  display: flex;
  margin-bottom: 60px;
  box-sizing: border-box;
}

.card:last-child {
  margin-bottom: 0;
}

.card-title {
  font-size: 20px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "OpenSans";
  line-height: 1.2;
  text-decoration: none;
  text-transform: uppercase;
}

.date-block {
  display: flex;
  margin-top: 30px;
  margin-bottom: 45px;
}

.date {
  color: grey;
  display: inline-block;
}

.date {
  display: block;
  font-size: 12px;
  color: #888888;
  font-weight: 400;
  font-family: "OpenSans";
}

.card-tags {
  display: block;
  list-style-type: none;
  display: flex;
  margin-bottom: 5px;
}

.card-tag:hover {
  text-decoration: underline;
}

.card-tag {
  text-decoration: none;
  font-size: 14px;
  color: #b59f5b;
  font-weight: 700;
  font-family: "OpenSans";
  margin-right: 20px;
  cursor: pointer;
  text-transform: uppercase;
}

.card-tags > li:last-child .card-tag {
  margin-right: 0px;
}

.card-desc {
  font-size: 15px;
  line-height: 1.5;
  color: #0f0d0e;
  font-weight: 400;
  font-family: "OpenSans";
}

.card-author {
  display: block;
  font-weight: bolder;
  font-size: 12px;
  color: #000000;
  font-weight: 700;
  font-family: "OpenSans";
  margin-left: 12px;
}

.card-img {
  margin-right: 30px;
  width: 381px;
}

/*   ASIDE    */

.aside-img {
  height: 70px;
}

.aside-card {
  display: flex;
  margin-bottom: 22px;
}

.aside-card:last-child {
  margin-bottom: 0px;
}

.aside-card-desc {
  margin-left: 20px;
}

.new-post-title {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 700;
  font-family: "OpenSans";
  text-transform: uppercase;
}

.search {
  margin-top: 33px;
}

.search-section {
  display: flex;
  max-width: 10000px;
}

.search-field-block {
  width: 100%;
}

.search-field {
  display: block;
  width: 100%;
  height: 48px;
  padding: 10px 0 10px 15px;
  box-sizing: border-box;
  border: none;
  background-color: #f4f7f6;
}

.search-button {
  display: block;
  width: 48px;
  height: 48px;
  background: url("../svg/search.svg") no-repeat center center;
  background-size: 18px 18px;
  border: none;
  cursor: pointer;
  background-color: #b59f5b;
}

.search-button:hover {
  background-color: #323232;
}

.email {
  margin-top: 55px;
}

.email-area {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  background-color: #f4f7f6;
  border: none;
  padding: 5px 0 5px 15px;
  margin-top: 24px;
}

.email-button {
  border: none;
  padding: 15px;
  width: 100%;
  height: 48px;
  background-color: #b59f5b;
  margin-top: 15px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: 700;
}

.email-button:hover {
  background-color: #323232;
}

.tags {
  margin-top: 57px;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  list-style: none;
  margin-top: 28px;
}

.tag {
  display: block;
  text-decoration: none;
  padding: 4px 14px 4px 14px;
  font-size: 12px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "OpenSans";
  border: 3px solid #eeeeee;
  text-transform: uppercase;
}

.tag:hover {
  border: 3px solid #b59f5b;
}

.themes {
  margin-top: 58px;
}

.theme-list {
  list-style: none;
}

.theme {
  display: block;
  border-bottom: 1px solid rgb(214, 214, 214);
  padding: 16px 0 10px 0;
}

.theme:first-child {
  padding-top: 25px;
}

.theme-item {
  text-decoration: none;
  font-size: 14px;
  color: #000000;
  font-weight: 700;
  font-family: "OpenSans";
}

.theme-item:hover {
  color: #b59f5b;
}

.theme-number {
  position: relative;
  top: -5px;
  font-size: 12px;
  color: #b59f5b;
  font-weight: 700;
  font-family: "OpenSans";
}

/*   SHOP   */

.shop {
  display: block;
  padding: 0 15px 0 15px;
  max-width: 1170px;
  margin: auto auto;
  margin-bottom: 60px;
}

.shop-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  width: 100%;
}

.shop-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-card-text {
  max-width: 304px;
  border: 3px solid #b59f5b;
  padding: 50px 20px 25px 18px;
  margin-top: -37px;
  flex-grow: 1;
}

.shop-card-title {
  font-size: 20px;
  font-weight: 700;
  font-family: "OpenSans";
  text-transform: uppercase;
}

.shop-card-desc {
  display: block;
  font-size: 15px;
  font-family: "OpenSans";
  line-height: 22px;
}

.shop-desc-link {
  color: #b59f5b;
  cursor: pointer;
  text-decoration: none;
}

.shop-card-price {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 22px;
}

.old-price {
  font-size: 14px;
  text-decoration: line-through;
  font-weight: 700;
  font-family: "OpenSans";
}

.new-price {
  font-size: 20px;
  font-weight: 700;
  font-family: "OpenSans";
}

.shop-button {
  border: none;
  padding: 10px;
  width: 140px;
  height: 48px;
  background-color: #b59f5b;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
}

.shop-button:hover {
  background-color: #323232;
}

/*  FOOTER    */
.footer {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  margin-bottom: 72px;
}

.social-media {
  
  padding: 30px 0 30px 0;
  background-color: #f4f7f6;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-list {
  list-style: none;
  display: flex;
  gap: 30px;
}

.media-item {
  display: block;
  width: 20px;
  height: 20px;
}

.dribbble {
  background: url("../svg/001-dribbble.svg") no-repeat center center / 20px;
}

.pinterest {
  background: url("../svg/001-pinterest.svg") no-repeat center center / 20px;
}

.twitter {
  background: url("../svg/003-tumblr.svg") no-repeat center center / 20px;
}

.copyright {
  display: block;
  text-align: center;
  padding-bottom: 47px;
}

.copyright-desk {
  font-size: 12px;
  color: #999999;
  font-weight: 700;
  font-family: "OpenSans";
  cursor: pointer;
  text-decoration: none;
}

@media ((min-width: 641px) and (max-width: 1199px)) {
  /*    HEADER    */

  .header {
    background: url("../img/banner-bg-tablet.jpg") no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    padding: 13px 0 115px 0;
  }

  .header-text {
    font-size: 40px;
    max-width: 80%;
    margin-top: 83px;
    line-height: 1.4;
  }

  .header-block {
    width: calc(100% - 70px);
  }

  .header-logo {
    width: 158px;
  }

  .menu {
    display: none;
  }

  .menu-burger {
    display: block;
  }

  /*    POPUP    */

  .popup-close {
    width: 25px;
    height: 25px;
    background-size: 25px;
  }

  .popup-radio-text::before {
    content: "";
    width: 23px;
    height: 23px;
    display: inline-block;
    background: url("../svg/form-empty-circle.svg") no-repeat left bottom / 23px;
  }

  /*   MAIN   */
  .block {
    max-width: 100%;
    display: flex;
    padding: 0 35px 0 35px;
    margin-bottom: 50px;
  }

  .main {
    width: calc(100% - 305px);
  }

  .aside {
    width: 270px;
    box-sizing: border-box;
  }

  .main-title {
    font-size: 18px;
  }

  .card-title {
    font-size: 17px;
  }

  .trends {
    margin-bottom: 50px;
  }

  .trends-card-list {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .trends-card {
    width: calc(50% - 4px);
    min-height: 247px;
    background-position: center bottom;
  }

  .trends-desc {
    padding: 25px 35px 25px 35px;
    margin-left: 4.6%;
    margin-right: 4.6%;
  }

  .trends-caption {
    font-size: 17px;
  }

  .card {
    flex-direction: column;
    border-bottom: 3px solid #eeeeee;
    margin: 0;
    margin-bottom: 50px;
    padding-bottom: 17px;
  }

  .card-img {
    margin-right: 0;
    width: inherit;
  }

  .card-tags {
    margin: 10px 0 7px;
  }

  .date-block {
    margin: 28px 0 28px 0;
  }

  /*    ASIDE    */
  .search {
    margin-top: 23px;
  }

  /*    SHOP    */
  .shop {
    padding: 0 35px 0 35px;
    margin-bottom: 50px;
  }

  .shop-card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 22px;
  }

  .shop-card {
    width: calc(50% - 11px);
  }

  .shop-card-text {
    max-width: 100%;
  }

  .shop-pic {
    width: 100%;
    height: auto;
  }

  .shop-img {
    display: block;
    width: calc(100% - 44px);
    margin: 0 22px 0 22px;
    height: auto;
  }

  .shop-card-title {
    font-size: 17px;
  }

  /*    FOOTER    */
  .footer {
    width: calc(100% - 70px);
    margin: 0 auto 50px auto;
  }
}

@media (max-width: 640px) {
  /*    HEADER    */
  .header {
    background: url("../img/banner-mobile.jpg") no-repeat;
    background-size: cover;
    margin-bottom: 43px;
    padding: 0 1% 212px 1%;
  }

  .header-block {
    display: flex;
    flex-direction: column-reverse;
    width: calc(100% - 30px);
    margin-top: 31px;
  }

  .header-logo {
    display: block;
    margin: 172px auto 0 auto;
    width: 90%;
  }

  .header-text {
    margin-top: 36px;
    font-size: 26px;
    line-height: 36px;
  }

  .menu-burger {
    margin-left: auto;
  }
  /*    POPUP   */

  .popup-block {
    padding: 5px 25px 35px 25px;
    width: 330px;
  }

  h2.popup-title {
    margin: 20px 0 22px;
  }

  .popup-area {
    max-width: 270px;
    min-width: 270px;
    min-height: 130px;
  }

  .popup-radio-text::before {
    content: "";
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url("../svg/form-empty-circle.svg") no-repeat left bottom / 24px;
  }

  .close {
    width: 330px;
    display: flex;
    justify-content: end;
  }

  .popup-close {
    width: 27px;
    height: 27px;
    background-size: 27px;
  }

  /*    MAIN    */
  .titles {
    font-size: 16px;
  }

  .main {
    margin-bottom: 40px;
  }

  .main-title {
    font-size: 16px;
  }
  .trends {
    margin-bottom: 42px;
  }

  .trends-card-list {
    flex-direction: column;
    align-items: center;
    gap: 3px;
    margin-bottom: 30px;
  }

  .trends-card {
    width: calc(100% - 4px);
    min-height: 230px;
    background-position: bottom;
  }

  .trends-caption {
    font-size: 16px;
    line-height: 20px;
  }

  .trends-desc {
    padding: 30px 35px 30px 20px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .block {
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 43px;
  }

  .card {
    flex-direction: column;
    border-bottom: 3px solid #eeeeee;
    margin-bottom: 40px;
    padding-bottom: 17px;
  }

  .card-img {
    margin-right: 0;
    width: inherit;
  }

  .card-tags {
    margin-top: 10px;
  }

  .card-title {
    font-size: 16px;
  }

  .card-desc {
    font-size: 14px;
  }

  .date-block {
    margin: 18px 0 9px 0;
  }

  .menu {
    display: none;
  }

  .menu-burger {
    display: block;
  }

  .aside {
    width: 100%;
  }

  .search {
    margin: 40px 0 40px 0;
  }

  .email-button {
    margin-bottom: 38px;
  }

  .tag-list {
    margin-bottom: 35px;
    gap: 3px;
  }

  /*     SHOP     */
  .shop {
    margin-bottom: 40px;
  }

  .shop-card-list {
    gap: 28px;
  }

  .shop-card-title {
    font-size: 17px;
  }

  .shop-card {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .shop-card-text {
    max-width: 100%;
  }

  .shop-pic {
    display: block;
    width: 100%;
  }

  .shop-img {
    display: block;
    width: calc(100% - 44px);
    margin: 0 22px 0 22px;
    height: auto;
  }

  /*    FOOTER    */

  .footer {
    width: 90%;
    margin-bottom: 50px;
  }
}

@media ((max-width: 640px) and (orientation: landscape)) {
  .trends-card-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .trends-card {
    width: calc(50% - 4px);
  }

  .trends-desc {
    padding: 10px 20px 10px 20px;
  }
}

@media ((min-width: 641px) and (max-width: 1199px) and (orientation: landscape)) {
  .trends-card {
    width: calc(25% - 4px);
  }

  .trends-desc {
    padding: 10px 20px 10px 20px;
  }
}
